<a href="/profile">Back to my profile</a>

<%if get_current_user %>
<form action="/logout" method="post">
  <input type="submit" value="logout">

</form>
<% end %>

<h3>Match Page</h3>

<h3>Here are your matches!</h3>

<% z = @matches %>
<% z.each do |match| %>
<%= match.username %><br>
<img src= "<%= match.img %>">
<br>
<% end %>
<h2> Who is paying? </h2>
<% pays = ["You're paying!", "You're splitting it 50/50", "You don't have to pay a dime :)"] %>
<%= pays[ rand(3) ] %>

</div>