<a href="/profile">Back to my profile</a>

<%if get_current_user %>
<form action="/logout" method="post">
  <input type="submit" value="logout">

</form>
<% end %>

<h3>Here are your matches!</h3>

<% z = @matches %>
<% z.each do |match| %>
<%= match.username %><br>
<img src= "<%= match.img %>">
<br>
<% end %>

<h2>On your date you are going to:</h2>


<h2> Who pays? </h2>
<% pays = ["You're paying!", "You're splitting it 50/50", "You don't have to pay a dime :)"] %>
<%= pays[ rand(3) ] %>

</div>