<a href="/profile">Back to my profile</a>

<%if get_current_user %>
<form action="/logout" method="post">
  <input type="submit" value="logout">

</form>
<% end %>

<% @matches.each do |x| %>
<%= puts x %>
<% end %>


<h3>Match Page</h3>
</div>