<a href="/profile">Back to my profile</a>

<%if get_current_user %>
<form action="/logout" method="post">
  <input type="submit" value="logout">

</form>
<% end %>

<h3>Match Page</h3>

<h3>Here are your matches!</h3>

<p><% @matches.each do |x| %>
<%= puts x.username %>
<% end %></p>

</div>