<h1>Login Below.</h1>

<form action="/login" method="post">
    <div class="form">
      <div>
        <label>Username:</label>
        <input type="text" name="username" value="<%= @users && @users.username %>">
      </div>
      <div>
        <label>Password:</label>
        <input type="text" name="password" value="<%= @users && @users.password %>">
      </div>  
      <div>
      <input type="submit" value="Login">
      </div>
    </div>
  </div>
</form>

<a href="/">Reload Homepage</a>

  <% if @users && @users.errors.any? %>
  <div>
    <strong>There are some issues with your input, you'll have to fix them:</strong>
    <ul>
      <% @users.errors.full_messages.each do |input| %>
        <li><%= input %></li>
      <% end %>
    </ul>
  </div>
<% end %>