<center>
<a href="/">Back to Login Page</a>
<%if get_current_user %>
<form action="/logout" method="post">
  <input type="submit" value="logout">
</form>
<% end %>
<% if get_current_user %>

  <h2> Welcome <%= @current_user.username %>! Your user ID is: <%= @current_user.id %></h2>
<%else%> 
<h2><a href="/signup">Please sign in!</h2>
<%end%>

<img src= "<%= @current_user.img %>" max-width=25% >
<br>
<%= @current_user.bio %>

<h2> Date preferences</h2>

<form action="/profile" method="post">
  <div class="form">
      <div>
        <h3>What is the minimum age? (Min 18)</h3>
        <input type="text" name="min_age" value="" required>
      </div>
      <div>
        <h3>What is the maximum age? (Max 85)</h3>
        <input type="text" name="max_age" value="" required>
      </div>
      <div>
        <h3>Choose your gender preference:</h3>
        <select name="gender_pref" value="" required>
        <option value="nil" selected disabled>Select an option</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        </select>
      </div>
      <div>
        <h3>Where would you like to go on your date?</h3>
        <select name="activity_type_id" value="" required>
        <option value="nil" selected disabled>Select an option</option>
        <option value="1">Coffee</option>
        <option value="2">Outdoor Activity</option>
        <option value="3">Restaurant</option>
        <option value="4">Drinks</option>
        </select>
      </div>
      <br><br>
    </div>
    <input type="submit" value="Save Preferences">
</form>
<br><br>
Are you ready?
<%if get_current_user %>
<form action="/find_match" method="get">
  <input type="submit" value="Yes! Find me a date!">
</form>
<% end %>